<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://io.jmix.tests/menu.application" insertBefore="administration">
        <item screen="User.browse" caption="msg://io.jmix.tests.screen.user/UserBrowse.caption"/>
        <item screen="AtmosphericGas.browse"
              caption="msg://io.jmix.tests.screen.atmosphericgas/atmosphericGasBrowse.caption"/>
        <item screen="Discounts.browse" caption="msg://io.jmix.tests.screen.discounts/discountsBrowse.caption"/>
        <item screen="Individual.browse" caption="msg://io.jmix.tests.screen.individual/individualBrowse.caption"/>
        <item screen="Company.browse" caption="msg://io.jmix.tests.screen.company/companyBrowse.caption"/>
        <item screen="Moon.browse" caption="msg://io.jmix.tests.screen.moon/moonBrowse.caption"/>
        <item screen="Planet.browse" caption="msg://io.jmix.tests.screen.planet/planetBrowse.caption"/>
        <item screen="Carrier.browse" caption="msg://io.jmix.tests.screen.carrier/carrierBrowse.caption"/>
        <item screen="SpacePort.browse" caption="msg://io.jmix.tests.screen.spaceport/spacePortBrowse.caption"/>
        <item screen="WayBill.browse" caption="msg://io.jmix.tests.screen.waybill/wayBillBrowse.caption"/>
        <item screen="WayBillItem.browse" caption="msg://io.jmix.tests.screen.waybillitem/wayBillItemBrowse.caption"/>
        <item screen="Atmosphere.browse" caption="msg://io.jmix.tests.screen.atmosphere/atmosphereBrowse.caption"/>
        <item screen="Gas.browse" caption="msg://io.jmix.tests/menu_config.Gas.browse"/>
        <item screen="DynamicCategory.browse"
              caption="msg://io.jmix.tests.screen.dynamiccategory/dynamicCategoryBrowse.menu"/>
        <item screen="LocalizedDynamic.browse"
              caption="msg://io.jmix.tests.screen.localizeddynamic/localizedDynamicBrowse.menu"/>
        <item screen="EnabledVersEntity.browse"
              caption="msg://io.jmix.tests.screen.enabledversentity/enabledVersEntityBrowse.menu"/>
        <item screen="DisabledVersEntity.browse"
              caption="msg://io.jmix.tests.screen.disabledversentity/disabledVersEntityBrowse.menu"/>
    </menu>

</menu-config>