<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://io.jmix.tests/menu.application" insertBefore="administration">
        <item screen="tests_User.browse" caption="msg://io.jmix.tests.screen.user/UserBrowse.caption"/>
    </menu>

</menu-config>